name: Bot Fotografo Inversiones

on:
  workflow_dispatch: # Para que puedas darle al boton "Play" manualmente
  schedule:
    - cron: '*/15 * * * *' # Se ejecuta cada 15 minutos

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/set-up-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install playwright requests
          playwright install chromium # Instala el ojo del bot

      - name: Run Bot
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          X_USER: ${{ secrets.X_USER }}
          X_PASSWORD: ${{ secrets.X_PASSWORD }}
        run: python bot.py
